@import "normalize";

$yellow: rgba(255,255,0,1);

html, body {
	display: block;
	height: 100%;
}

body {
	color: black;
	background-color: black;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-style: italic;
  overflow-x: hidden;
}

.clear {
	clear:both;
}

div#media {
	width: 100vw;
	height: auto;
}

#video {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 800px;
	min-width: 800px;
	z-index: 1;
}

#picture {
	@extend #video;
	z-index: -1;
	min-height: auto;
}


div#title {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 0px;
	z-index: 50;
	font-weight: 700;

	h1 {
		background-color: $yellow;
		padding: 10px;
		display: inline-block;
		margin: -4px;
	}

	h2 {
		@extend h1;
		font-weight: 400;
	}
	
}

div#summaryWrapper {
	display: flex;
	justify-content: flex-end;
	align-items:flex-end;
	height: 100vh;
	overflow: hidden;

}

div#summary {
	@extend #title;
	background-color: $yellow;
	padding: 15px;
	text-align: justify;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	text-transform: none;
	font-weight: 400;
	width: 45%;
	height: auto;

	p {
		padding: 10px;
		margin: 0;
	}

	#date {
		text-align: right;
	}


	}

div#clickToOpen {
	text-align: center;
	display: block;
	width: 10%;

}

div#summaryAndDate {
		order: 2;
		width: 89%;
		height: auto; 

	}

div#showInfo {
	background-color: $yellow;
	padding: 15px;
	display: none;
}



@media (max-width: 800px) {
	#picture, iframe#video, div#summary, div#title, 
	div#summaryWrapper, div#title h1, div#title h2, 
	div#summary #date, div#summaryAndDate {
		position: static;
		z-index: 1;
		display: block;
		min-width: 280px;
		min-height: 0px;
		width: 100%;
		height: auto;
		margin: 0px;
		text-align: center;
	}

	div#clickToOpen {
		display: none;
	}

	div#title br {
		display: none;
	}

	div#title h2 {
		font-size: 1.5em;
		margin-top: -10px;
	}

	br.clear {
		display: none;
	}

	div#summary {
		padding: 0 0 20px 0;

		#date {
			padding: 0px;
		}
	}



}

